.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

label {
  font-size: 20px;
}

.box-class {
  margin: 10px;
  border: 2px;
}

footer {
  background:  linear-gradient(#0040a0, #6dd3ff);
}

body {
  background-color: gray;
  margin-top: 10%;
  margin-bottom: 10%;
}
/*darkblue #0040a0*/
/*lightblue #6dd3ff*/
